*{
	user-select: none;
	margin: 0px;
	padding: 0px;
}

h1,h2{
	margin: 0;
}

body{
	margin: 0;
	padding: 0px;
	top: 0px;
	width: 100%;
	height: 85vh;
	background: linear-gradient(salmon, salmon), url(cover4.jpg) no-repeat center fixed;
	background-blend-mode: multiply;/*blending the background with the linear gradient colour*/
	background-size: cover;
	
	
}
/*  nav1  */
.social_logo nav{
	background-color: darkkhaki;
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 1px;	
	text-decoration: none;
	color: black;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 500;

}

.social_logo nav ul li a{
	background-color: darkkhaki;
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 1px;	
	text-decoration: none;
	color: black;
}

.social_logo nav ul{
	list-style: none;
	padding: 18px;
	margin-top: 0px;
}

.social_logo nav ul li{
	display: inline-block;
}
.social_logo span{
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	position: fixed;
	top: 18px;
	right: 20px;
	z-index: 500;
}

.social_logo span li{
	list-style: none;
	margin-right: 15px;

}

.social_logo span li a{
	color: black;
}

.social_logo span li i:hover{
		cursor: pointer;
		color: white;
}




/*_____________________________________________________________________________*/



/*  nav2  */
.main__nav{
	background-color: black;
	height: 10%;
	position: fixed;
	top: 55px;
	right: 0px;
	left: 0px;
	z-index: 500;
}

.main__nav ul{
	display: flex;
	justify-content: flex-end;
	padding: 20px 0px;
	margin: 0px;
	list-style: none;
	margin-left: auto;
}

.main__nav ul li{
	display: inline-block;
	letter-spacing: 2px;
	text-align: center;
	width: 136px;
	height: 32px;
}

.main__nav ul li:hover{
	box-shadow: 0px 3px 3px 0px rgba(255,255,255,0.7);
	border-radius: 3px;

}

.main__nav ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Audiowide', cursive;
	font-size: 12px;
	margin: 0;
	display: block;
	line-height: 32px;
}

/*navbar sub menu*/

.main__nav .submenu{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	max-width: 50%;
}

.main__nav .submenu .pages{
	max-width: 100%;
	height: 0px;		
}

.main__nav .submenu:hover ul{
	display: flex;
	flex-direction: column-reverse;
	cursor: pointer;	
}

.main__nav .submenu:hover a{
	cursor: pointer;
	margin-left: 0;
}

.main__nav .submenu ul{
	display: none;
	background-color: rgba(0,0,0,0.8);
	width: 136px;
	margin-top: 49px;
	margin-left: 0;
	padding: 0px;
	
}

.main__nav .submenu ul li{
	width: 136px;
	color: white;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;	
}






/*----------------------------------------------------------------*/
.main__nav .reservation{
	background-color: transparent;
	border: 1px solid white;
	margin-right: 15px;
	border-radius: 4px;
	padding: 0 2px;
}
.main__nav .reservation:hover{
	background-image: linear-gradient(to bottom,darkgreen, limegreen);
	color: white;
	box-shadow: 0px 3px 3px 0px black;
}

.main__nav ul .bistro{
	background-color: maroon;
	border-radius: 5px;
	margin-right: auto;
	margin-left: 15px;
	width: 120px;
}
.main__nav ul .bistro:hover{
	box-shadow: 0px 3px 3px 0px black;
}

.main__nav ul .bistro a{
	
	font-family: 'Leckerli One', cursive;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 0 15px;
	text-align: center;
	line-height: 33px;
}



/*toggle menu (hide)*/
	.menu_wrap .main_menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.menu_wrap .main_menu > div{
		background-image: linear-gradient(rgba(102,0,0,0.9),rgba(0,0,0,0.7)), linear-gradient(to bottom, rgba(230,230,250,0.6),black);
		background-blend-mode: multiply;
		border-radius: 50%;
		width: 200vw;
		height: 200vw;
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: all 0.4s ease;
	}

	.menu_wrap .main_menu > div > div{
		text-align: center;
		max-width: 90vw;
		max-height: 100vh;
		opacity: 0;
		transition: opacity 0.4s ease;
	}

	.menu_wrap .main_menu > div > div > ul > li{
		list-style: none;
		color: white;
		font-size: 1.5rem;
		padding: 1rem;
	}

	.menu_wrap .main_menu > div > div > ul > li > a{
		color: inherit;
		text-decoration: none;
		transition: color 0.4s ease;
		font-family: 'Audiowide',cursive;
		font-size: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}




/*_____________________________________________________________________________*/


/*  cover  */
.cover{
	height: 68vh;
}

.cover h2{
	padding: 150px 0px 30px 0px;	
	color: white;
	font-family: 'Audiowide', cursive;
}

.cover h1{
	padding: 0px 0px 30px 0px;	
	color: white;
	display: flex;
	justify-content: center;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
	font-size: 25px;

}

.cover .text{
	font-size: 60px;
	text-align: center;
	padding: 250px 0 0 0;
}

.cover a{
	text-decoration: none;
}
.cover .hero__section a>button{
	display: block;
	width: 320px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 24px;
	background-image: linear-gradient(to bottom, limegreen, darkgreen);
	box-shadow: 0 9px 25px 0 0 20px #eee;
	border-radius: 12px;
	color: white;
	padding: 5px;
	font-family: 'Audiowide', cursive;
	z-index: -5;
}

.cover .hero__section a>button:hover{
	cursor: pointer;
	background-image: linear-gradient(to bottom, green, limegreen);
}

.arrow1{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 120px 0px 55px 0px;
	margin-left: 50%;
}

.arrow1:hover{
	cursor: pointer;
}





/*_____________________________________________________________________________*/



/*  menu  */

.menu{
	background-image: linear-gradient(maroon,sienna, maroon);

	opacity: 0.9;
	padding: 30px 0px 10px 0px;
	max-height: auto;
	width: 100%;
}

.menu h1{
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
}

.img_wrapper{
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
	border: 2px solid white;
	border-radius: 3px;
}
.img_wrapper img{
	/*the first 3 lines will make  the image responsive*/
	width: 100%;
	max-width: 100%;
	height: auto;
}
.img_wrapper img:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.6s;

}
.img_wrapper_text{
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	line-height: 22px;
	height: 130px;
	font-family: 'Roboto', cursive;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
	width: 100%;
	
}

.img_wrapper_text button{
	margin: 9px;
	border-radius: 10px;
	padding: 4px 6px;
	background-color: transparent;
	line-height: 20px;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
}

.img_wrapper_text button:hover,.img_wrapper_text button:hover a{
	background-image: linear-gradient(to bottom,white,lavender);
	cursor: pointer;
	color: black;
}

.img_wrapper_text button a{
	text-decoration: none;
	color: white;

}

.meal{
	font-family: 'Audiowide', cursive;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	padding: 10px 0px;
}

.join_us{
	padding: 20px 0 0 0;
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: 'roboto', cursive;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.arrow2{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow2:hover{
	cursor: pointer;
}




/*_____________________________________________________________________________*/



/*  About  */
.about{
	padding: 80px 0px 60px 0px;
}

.about .img_back{
	position: relative;
	margin: 40px 0;
	background-color: lavender;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}

.about .img_back::before{
	position: absolute;
	top: -15px;
	left: -15px;
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: -1;
}
.about .img_back img{
	width: 100%;
	height: 100%;
}

.col-md-9{
	background-color: rgba(0,0,0,0.7);
	max-height: auto;
}
.about h1{
	padding: 60px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
}

.about h4{
	padding: 20px 0px 10px 0px;
	color: white;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
	font-size: 20px;
}

.about p{
	color: white;
	font-family: 'roboto', cursive;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 25px;
}

.arrow3{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow3:hover{
	cursor: pointer;
}





/*_____________________________________________________________________________*/



/*  Our team  */

.team{
	background-color: rgba(0,0,0,0.6);
	padding: 0 0 50px 0;
}

.team h1{
	padding: 60px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
}

.team .imgwrap{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}

.team .imgwrap:hover{
	cursor: pointer;
}

.team img{
	width: 100%;
	height: 100%;
	max-width: 100%;

}

.team .imgwrap_text a{
	padding: 0px 5px;
	display: none;
}

.team .imgwrap:hover .imgwrap_text a{
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

.team .col-md-4:hover .imgwrap img{
	transform: scale(1.2);
	transition: all 0.8s;
}
.team .imgwrap_text{
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.6);
	line-height: 22px;
	font-family: 'Roboto', cursive;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
	width: 100%;
	text-align: center;
}

.team h5{
	padding: 4px 0px 3px 0px;
	color: black;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
	font-size: 15px;
}



.arrow4{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow4:hover{
	cursor: pointer;
}



/*_____________________________________________________________________________*/



/*  Testimonials  */

.testimonials h1{
	padding: 60px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
}






/*_____________________________________________________________________________*/



/*  book table */
.book_table{
	background-image: linear-gradient(maroon,sienna,maroon);
	opacity: 0.9;
	padding: 0px 0px 20px 0px;
}

.book_table h1{
	padding: 60px 0px 40px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
	
}

.book_table .container{
	background-color: rgba(0,0,0,0.9);
	padding: 30px 20px;
}

.book_table input{
	width: 100%;
	height: 100%;
	padding: 8px 0 8px 4px;
	border-radius: 4px;
	border-color: transparent;
}

.book_table .col-sm-4{
	width: 100%;
}

.book_table .col-sm-4 #Time_slot{
	height: 100%;
	width: 100%;
	padding: 8px 0 8px 4px;
	border-radius: 4px;
	border-color: transparent;
}

.book_table .col-sm-12{
	width: 100%;
	text-align: center;
}

.book_table .col-sm-12 button{
	background-color: transparent;
	padding: 8px 25px;
	border-radius: 6px;
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.book_table .col-sm-12 button:hover{
	cursor: pointer;
	background-image: linear-gradient(to bottom, limegreen, green);
}

.arrow6{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow6:hover{
	cursor: pointer;
}




/*_____________________________________________________________________________*/


/*  blog  */
.blog h1{
	padding: 60px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
}

.blog .imgwrap1_text{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	border: 2px solid white;
}

.blog .col-sm-4 img{
	width: 100%;
	max-width: 100%;
	height: 100%;
	border: 2px solid white;
	box-shadow: 5px 5px 6px 0px white; 
	/*box-shadow: horizontal-offset vertical-offset blur spread color */
}

.blog .col-sm-4:hover .imgwrap1_text{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 5px 6px 6px 0px white;
}

.blog .imgwrap1{
	position: relative;
	width: 100%;
	height: 100%;
}

.blog .read_more{
	background-color: transparent;
	position: absolute;
	bottom: 10%;
	padding: 4px 10px;
	border: 2px solid white;
	font-family: 'Lora', serif;
	border-radius: 3px;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: bold;
}

.blog .read_more:hover{
	cursor: pointer;
	font-weight: bold;
	color: black;
	letter-spacing: 1px;
	background-image: linear-gradient(to bottom, darkgrey, lavender);
}

.blog .col-sm-4 h2{
	position: absolute;
	top: 20%;
	font-family: 'Lora', serif;
	font-size: 20px;
	text-align: center;
	padding: 2px;
	font-style: italic;
}

.blog .col-sm-4 p{
	position: absolute;
	top: 45%;
	font-family: 'Roboto',cursive;
	font-size: 14px;
}

.arrow7{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow7:hover{
	cursor: pointer;
}




/*_____________________________________________________________________________*/


/*  gallery  */
.gallery{
	background-color: rgba(0,0,0,0.3);
}
.gallery h1{
	padding: 60px 0px 40px 0px;
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
	
}

.gallery .container .row .col-md-3{
	padding: 0px;
	background-color: rgba(255,255,255,0.7);
	overflow: hidden;
	border:0.4px solid white;
}

.gallery .container .row .col-md-3:hover .fa-search{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 20px;
	z-index: 1;
}

.gallery .container .row .col-md-3 img{
	max-width: 100%;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	
	box-shadow: 5px 5px 8px 0px white;
	
}

.gallery .container .row .col-md-3 img:hover{
	cursor: pointer;
	opacity: 1;
	transform: scale(1.08);
	transition: all 0.5s;

}

.gallery i{
	display: none;
}

.arrow8{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 40px;
	padding: 30px 0px 20px 0px;
	margin-left: 50%;
}

.arrow8:hover{
	cursor: pointer;
}






/*_____________________________________________________________________________*/


/*  Subscribe  */
.subscribe{
	background-color: rgba(0,0,0,0.9);
	padding: 25px 0;
	font-family: 'Audiowide', cursive;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 3px;
	color: white;
}

.subscribe .col-md-4 .row .col-sm-6{
	padding: 6px 0px;
}

.subscribe .col-md-4 .row{
	padding: 0;
}

.subscribe .col-sm-6 button{
	cursor: pointer;
	background-image: linear-gradient(to bottom, green, limegreen);
	padding: 6px 10px;
	text-decoration: none;
	color: white;
	font-family: 'Audiowide', cursive;
	letter-spacing: 1px;
}

.subscribe input{
	padding: 0 10px;
	max-width: 100%;
	height: 100%;
}

.subscribe .col-md-8{
	padding: 10px 0 0 0;
}





/*_____________________________________________________________________________*/


/*  map  */
.map iframe{
	width: 100%;
	max-height: 100%;
	max-width: 100%;

}






/*_____________________________________________________________________________*/


/*  footer1  */
.footer1{
	
	margin-top: 0;
	position: relative;
}

.footer1 .container{
	padding: 0 auto;
	margin-top: 0;
}

.footer1 .div1 img{
	max-width: 100%;
	height: 100%;
	width: 100%;
}

.footer1 .div1 .col-md-6{
	background-color: black;
	color: white;
	margin-left: 0;
	padding-left: 0;
	top: 50px;
}

.footer1 .div1 .col-md-6 h3{
	text-align: center;
	margin-top: 10%;
	font-family: 'Roboto', monospace;
}

.footer1 .div1 .col-md-6 h2{
	text-align: center;
	font-size: 180%;
	font-family: 'Lora', cursive;
	letter-spacing: 2px;

}

.footer1 .div1 .col-md-6 p{
	display: flex;
	justify-content: center;
	margin-top: 10%;
	text-align: center;
	font-family: 'Roboto', monospace;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid white;
	border:none;
	padding: 2px;
	font-size: 18px;
	margin-bottom: 10%

}

.footer1 .div1 .col-md-6 p:hover{
	border-bottom: 1px solid white;
	cursor: pointer;
}

.footer1 .scnd_half{
	background-color:rgba(211,211,211,0.6);
	padding: 20px;
	position: absolute;
	left:0;
	right: 0;
	top:65%;
	z-index: -1;
	max-height: 250%;
}

.footer1 .scnd_half h1{
	text-align: center;
	padding: 200px 0 20px 0;
	font-family: 'Audiowide', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 20px;
	color: black;
}

.footer1 .scnd_half h3{
	text-align: center;
	font-family: 'Roboto', cursive;
}

.footer1 .scnd_half p{
	text-align: center;
	font-family: 'Roboto', cursive;
}


.footer1 .copy p{
	text-align: center;
	font-family: 'Roboto', monospace;
	font-size: 18px;
	color: white;
	width: 100%;
	max-width: 100%;
	background-color: #660000;
	position: absolute;
	left: 0;
	padding: 2px 0;
	
}